
<style type="text/css">


font-family: 'Roboto', sans-serif;



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




/* Text */
body,td,th, {
  font-family: 'Roboto', sans-serif;	
  margin: 0px;
  font-weight: 300;
  	padding: 0;
	padding-top: 15px;
	padding-bottom: 150px;
}




ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5vw;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;	
  
}

li {
  display: inline;
  float: left;
  font-family: 'Roboto', sans-serif;
	font-size: calc( 18px + (36 - 18) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0 rem;
    font-weight: 500;
    color: #ffffff;
    float: left;    
    

}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.7rem;
    letter-spacing: 0.04rem;
    font-weight: 300;
    margin: 0;
}

::selection {
  background: #7b7b7b;
  color: white;
  
}

.heading { 
    font-family: 'Roboto', sans-serif;
	font-size: calc( 80px + (82 - 80) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #d6d6d6;
    float: left;
}

.headingsmall { 
    font-family: 'Roboto', sans-serif;
	font-size: calc( 60px + (82 - 80) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #000000;
    float: left;
}

.headingsmaller { 
    font-family: 'Roboto', sans-serif;
	font-size: calc( 32px + (32 - 30) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #000000;
    float: left;
}

.headingsmallerauthor { 
    font-family: 'Roboto', sans-serif;
	font-size: calc( 26px + (26 - 24) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #000000;
    float: left;
}



.sold { 
    font-family: 'Roboto', sans-serif;
	font-size: calc( 80px + (82 - 80) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #ff0000;
    float: right;
    padding-right: 260px;
}

.headingsmallinfored { 
    font-family: 'Roboto', sans-serif;
	font-size: calc( 60px + (82 - 80) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #ff4e4e;
    float: left;
}

.headingsmallinfo { 
    font-family: 'Roboto', sans-serif;
	font-size: calc( 60px + (82 - 80) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #d6d6d6;
    float: left;
}

   




.homebutton {
	font-family: 'Roboto', sans-serif;
	font-size: calc( 20px + (22 - 20) * (100vw - 450px) / (1000 - 450) );
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: #d6d6d6;
	float: right;
}


.bodytext {
	width: 100%;
	max-width: 800px;
	align-content: center;
	text-align: left;
	overflow: break-word;
	font-weight: 300;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 150px;
	color: #7b7b7b;
}

.book-magazine-heading {
	font-family: 'Roboto', sans-serif;
	font-size: calc(20px + (22 - 20) * (100vw - 450px) / (1000 - 450) );
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: #d6d6d6;
	float: left;
	
}



.link-to-product {
	font-family: 'Roboto', sans-serif;
	font-size: calc(20px + (22 - 20) * (100vw - 450px) / (1000 - 450) );
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: #7a7a7a;
	float: left;
	
}
.link-to-product:link {text-decoration: none; color: #7a7a7a;}
.link-to-product:visited {text-decoration: none; color: #7a7a7a;}
.link-to-product:hover {text-decoration: none; color: #000000; transition: 0s;}
.link-to-product:active {text-decoration: none; color: #7a7a7a;}

.ourownthingsheading {
	font-family: 'Roboto', sans-serif;
	font-size: calc(20px + (22 - 20) * (100vw - 450px) / (1000 - 450) );
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: #7a7a7a;
	float: left;
	}
	
	.ourownthingsheadinglink {
	font-family: 'Roboto', sans-serif;
	font-size: calc(20px + (22 - 20) * (100vw - 450px) / (1000 - 450) );
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: #7a7a7a;
	float: left;
	
}
.ourownthingsheadinglink:link {text-decoration: none; color: #7a7a7a;}
.ourownthingsheadinglink:visited {text-decoration: none; color: #7a7a7a;}
.ourownthingsheadinglink:hover {text-decoration: none; color: #000000; transition: 0s;}
.ourownthingsheadinglink:active {text-decoration: none; color: #7a7a7a;}


	
	









/* Div Class */


.books {
	width: 260px;
	
	
}


.column {
  float: left;
  width: 21%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.column2 {
  float: left;
  width: 63%;
  padding: 5px;
}

.column3 {
  float: right;
  width: 63%;
  padding: 5px;
}


.row2::after {
  content: "";
  clear: both;
  display: table;
}


.rotate {
  width: 260px;
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding:5px;
  
  }
  
  

.background {
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  
  
.author {
	font-family: 'Roboto', sans-serif;
	font-size: calc(10px + (12 - 10) * (100vw - 450px) / (1000 - 450) );
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: #d6d6d6;
	}


.infopagetext {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight:200;
	letter-spacing: normal;
	text-align: left;
	width: 60%;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
	color: #000000;
	}











/* Navbar Links */

.class5	{
	  font-family: 'Roboto', sans-serif;
	 font-size: calc( 80px + (82 - 80) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #000000;
   
 
}
.class5:link {text-decoration: none; color: #000000;}
.class5:visited {text-decoration: none; color: #000000;}
.class5:hover {text-decoration: none; color: #d6d6d6; transition: 0s;}
.class5:active {text-decoration: none; color: #000000;}

.class5small	{
	  font-family: 'Roboto', sans-serif;
	 font-size: calc( 60px + (82 - 80) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: #000000;
   
 
}
.class5small:link {text-decoration: none; color: #000000;}
.class5small:visited {text-decoration: none; color: #000000;}
.class5small:hover {text-decoration: none; color: #d6d6d6; transition: 0s;}
.class5small:active {text-decoration: none; color: #000000;}


.category	{
	  font-family: 'Roboto', sans-serif;
	 font-size: calc( 24px + (26 - 24) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 300;
    color: #000000;
   
 
}
.category:link {text-decoration: none; color: #000000;}
.category:visited {text-decoration: none; color: #000000;}
.category:hover {text-decoration: none; color: #d6d6d6; transition: 0s;}
.category:active {text-decoration: none; color: #000000;}



.incategory {
	font-family: 'Roboto', sans-serif;
	font-size: calc( 24px + (26 - 24) * (100vw - 450px) / (1000 - 450) );
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: #d6d6d6;
	
}
.incategory:link {text-decoration: none; color: #d6d6d6;}
.incategory:visited {text-decoration: none; color: #d6d6d6;}
.incategory:hover {text-decoration: none; color: #000000; transition: 0s;}
.incategory:active {text-decoration: none; color: #d6d6d6;}


.subcategory	{
	  font-family: 'Roboto', sans-serif;
	 font-size: calc( 24px + (26 - 24) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 300;
    color: #ffffff;
   
 
}
.subcategory:link {text-decoration: none; color: #ffffff;}
.subcategory:visited {text-decoration: none; color: #ffffff;}
.subcategory:hover {text-decoration: none; color: #69ff47; transition: 0s;}
.subcategory:active {text-decoration: none; color: #ffffff;}


.book-magazine	{
	font-family: 'Roboto', sans-serif;
	font-size: calc( 80px + (82 - 80) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 300;
    color: #000000;
    

}
.book-magazine:link {text-decoration: none; color: #000000;}
.book-magazine:visited {text-decoration: none; color: #000000;}
.book-magazine:hover {text-decoration: none; color: #d6d6d6; transition: 0s;}
.book-magazine:active {text-decoration: none; color: #000000;}



.info-heading{
	font-family: 'Roboto', sans-serif;
	font-size: calc( 80px + (82 - 80) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 300;
    color: #000000;
}
















/* info text */

.info {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight:200;
	letter-spacing: normal;
	text-align: inherit;
	width: 40%;
	padding-top: 20px;
	padding-left: 5px;
	padding-bottom: 5px;
	color: #000000;
}


.price {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight:200;
	letter-spacing: normal;
	float: right;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 480px;
	color: #000000;
}



.source {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight:200;
	letter-spacing: normal;
	text-align: inherit;
	float: right;
	width: 40%;
	padding-top: 0px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 50px;
	color: #000000;
}

.source2 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight:200;
	letter-spacing: normal;
	text-align: inherit;
	float: left;
	width: 40%;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 50px;
	color: #000000;
}
















.class6 {
		font-family: 'Challenge', sans-serif;
		font-size: calc( 18px + (22 - 18) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0 rem;
    font-weight: 500;
    color: #D6D6D6;
    float: left;
    padding-bottom: 0vh; 
   }
   
.class6:link {text-decoration: none; color: #D6D6D6; background-color: transparent;}
.class6:visited {text-decoration: none; color: #D6D6D6; background-color: transparent;}
.class6:hover {text-decoration: none; color: #D6D6D6; background-color: transparent;}
.class6:active {text-decoration: none; color: #D6D6D6; background-color: transparent;}

/* info links */
.class7 {
		font-family: 'Challenge', sans-serif;
		font-size: calc( 18px + (26 - 18) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: #ffffff;
   float: left;
     text-shadow: 1px 1px 3px #b8b8b8;
     padding-bottom: 2vh;
     padding-right: 0px;
    
   }
.class7:link {text-decoration: none; color: #ffffff;}
.class7:visited {text-decoration: none; color: #ffffff;}
.class7:hover {text-decoration: none; color: #000; transition: 0.2s; background-color: transparent; text-shadow:  1px 1px 3px #b8b8b8, 1px 1px 3px #a4a4ff;}
.class7:active {text-decoration: none; color: #ffffff;}

/* Inquries text */
.class8 {
		font-family: 'Challenge', sans-serif;
		font-size: calc( 12.5px + (13.5 - 12.5) * (100vw - 450px) / (1000 - 450) );
    letter-spacing: 0 rem;
    font-weight: 500;
    color: #e4e4e4;
    float: right;
    padding-top: 2vh;
    padding-bottom: 2vh;
     
   }
.class8:link {text-decoration: none; color: #e4e4e4; background-color: transparent;}
.class8:visited {text-decoration: none; color: #e4e4e4; background-color: transparent;}
.class8:hover {text-decoration: none; color: #e4e4e4; background-color: transparent;}
.class8:active {text-decoration: none; color: #e4e4e4; background-color: transparent;}









/* images */
.imageL {
	width: 100%;
	max-width: 1000px;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 40px;
}

.imageL2 {
	width: 100%;
	max-width: 1000px;
	margin: 0px;
	cursor: pointer;
}

.imageLgallery {
	width: 100%;
	max-width: 1000px;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 40px;
	
}

.imageP {
	width: 100%;
	max-width: 500px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 40px;
}

.imageP35mm {
	width: 100%;
	max-width: 450px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
	padding-bottom: 40px;
}



/* youtube video */
.video-container {
width: 100%;
height: 100%;
max-height: auto;
max-width: 1000px;
align-content: center;
padding: 0;
padding-top: 15px;
padding-bottom: 40px;
}

.video-container iframe,
.video-container object,
.video-container embed {
width: 100%;
height: 100%;
max-height: auto;
max-width: 1000px;
align-content: center;
padding: 0;
padding-top: 15px;
padding-bottom: 40px;
}


.buynowbutton {
	width: 100%;
	align-content: right;
}

















/* scrollbar */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}










/* Youtube video auto-resizer script */
 
$(document).ready(function() {
  if(typeof YOUTUBE_VIDEO_MARGIN == 'undefined') {
    YOUTUBE_VIDEO_MARGIN=5;
  }
  $('iframe').each(function(index,item) {
    if($(item).attr('src').match(/(https?:)?\/\/www\.youtube\.com/)) {
      var w=$(item).attr('width');
      var h=$(item).attr('height');
      var ar = h/w*100;
      ar=ar.toFixed(2);
      //Style iframe    
      $(item).css('position','absolute');
      $(item).css('top','0');
      $(item).css('left','0');    
      $(item).css('width','100%');
      $(item).css('height','100%');
      $(item).css('max-width',w+'px');
      $(item).css('max-height', h+'px');        
      $(item).wrap('<div style="max-width:'+w+'px;margin:0 auto; padding:'+YOUTUBE_VIDEO_MARGIN+'px;" />');
      $(item).wrap('<div style="position: relative;padding-bottom: '+ar+'%; height: 0; overflow: hidden;" />');
    }
  });
});






</style>

